body, .btn {
    font-family: 'Transport';
    font-weight: 500;
    font-style: normal;
}

.booking-info {
  font-size: 14px;
}

.card {
  min-width: 200px;
  min-height: 200px;
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
    color: black;
    background-color: white;
}