body, .btn, .phase-banner{
    font-family: 'Transport';
    font-weight: 500;
    font-style: normal;
}

.navbar {
  background-color: #0b0c0c;
  .navbar-brand {
    color: white;
  }
}

#global-header-bar {
    height: 10px;
    background-color: #005ea5;
}

.booking-info {
  font-size: 14px;
}

.card {
  min-width: 200px;
  min-height: 200px;
  border-radius: 0rem;
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
    color: black;
    background-color: white;
}

.help-the-project {
  margin-top: 10px;
  margin-bottom: 10px;
}

.prayer-times {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width:767px) {
  .go-to-time-wrapper {
    display: none;
  }
}