@font-face {
    font-family: 'Transport';
    src: url('../fonts/TransportMedium.woff2') format('woff2'),
        url('../fonts/TransportMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
